{% extends 'base.html' %}

{% block name %}
    <a href="{% url 'propietary' %}" class="d-block">{{ propietary }}</a>
{% endblock %}


{% block wrapper %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-4">
          {% if titulo %}
          <h1 class="m-0">{{ titulo }}</h1>

          {% endif %}

        </div><!-- /.col -->
        <div class="col-sm-4 justify-content-end">
          <!--  -->
          <!-- <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Starter Page</li>
          </ol> -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->


  <div class="content">
    <div class="container-fluid">
      <!-- <h2>Holass1 </h2>
        <h1>{{ empresa}}</h1> -->


        <h2>
          Información de Usuario
        </h2>

      <form action="." method="POST">
        {% if form.errors %}

        {{ form.errors }}

        {% endif %}
        {% csrf_token %}
        <div class="row">
          {% for form in propietaryForm %}
           

                {{form.label}}
                <br>
                {{form}}
          {% endfor%}
        </div>
        
        <h2>
          Información de Redes Sociales
        </h2>

        <div class="row">
          {% for form in Formset %}
           

          {{form.label}}
          <br>
          {{form}}
        {% endfor%}
          <br>
        </div>
        <div class="row">
        
          <!-- /.col -->
          <div class="col-3">
            <button type="submit" class="btn btn-primary btn-block" value="save">Guardar</button>
          </div>
          <!-- /.col -->
        </div>
    </div>
  </div>

</div>
</form>








<!-- /.row -->
</div><!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock wrapper %}