{% extends 'base.html' %}

{% block name %}
    <a href="{% url 'propietary' %}" class="d-block">{{ propietary }}</a>
{% endblock %}

{% block wrapper %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-4">
            {% if titulo %}
            <h1 class="m-0">{{ titulo }}</h1>
  
            {% endif %}
  
          </div><!-- /.col -->
          <div class="col-sm-4 justify-content-end">

           {% if object_list %}
              
            {% for item in object_list %}
           <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">{{ item.User.first_name}} {{item.User.last_name}}</h3>
            </div> <!-- /.card-body -->
            <div class="card-body">
              <div >
                <strong>Nombre de Usuario: </strong><p>{{ item.User.username}}</p>  
                <strong>Status </strong><p>{{ item.Status }}</p>  
                <strong>Email </strong><p>{{ item.User.email }}</p>  
                <strong>Bio </strong><p>{{ item.BioPropietary }}</p>  
                <strong>Paquete Contratado </strong><p>{{ item.Plan.PlanName }} 
                  {% if item.Plan.id < 3 %}
                      <p><a href="{% url 'plan' %}">Actualizar plan</a></p>
                  {% else %}
                  <p><a href="{% url 'plan' %}">ver planes</a></p>
                  {% endif %}
                  
                  
                <img src ="{{ item.Image.url }}" alt="" style="max-height:100px" class="img-circle elevation-2">

                <a href="{% url 'updatePropietary' item.id %}">
                  <button class="btn btn-primary">
                    Editar Datos
                  </button>
                </a>
              </div>

            </div><!-- /.card-body -->
          </div>
          {% endfor %}
          {% endif %}
            <!-- <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol> -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->


  {% endblock %}
  